<div class="banner-container">
    <div class="banner-text">    
        <h2>Helping you navigate the complex world of personal finance</h2>
        <p>Get the insight you need with our helpful tools and carefully curated tips and resources</p>
    </div>
    <img src="images/personal_finance/4235572.jpg" alt="personal finance pic">
</div><!--end banner-container div-->
<section class="maximizing">
    <img src="images/maximizing/8432.jpg" alt="A picture of sally">
    <div class="maximizing-text info">
        <h3>Are you maximizing your buying power?</h3>
        <p>Many people today don't understand that they are not making the most of 
            their resources to maximize their financial position. There are many ways 
            to stretch every dollar if you know where to look let our experts and tools 
            guide you on your journey to financial freedom.</p>
    </div><!--end maximize text div-->
</section>
<section class="credit">
    <div class="credit-text info">
        <h3>Credit Cards</h3>
        <p>Credit card can be tricky especially when you are getting your first one. there can be a myriad of factors to consider when picking a credit card.
            Which card provides the most advantages? Let our experts answer any questions you might have on what credit card best fits your situation and goals.
        </p>
        <a href="/credit"><button type="button" class="btn">Learn more</button></a>
    </div><!--end credit card text div-->
    <img src="images/credit_card/2918298.jpg" alt="A picture of credit card">
</section>
<section class="insurance">
    <img src="images/auto.jpg" alt="A picture of a car">
    <div class="insurance-text info">
        <h3>Looking at Insurance Options?</h3>
        <p>Picking the right insurance provider.</p>
        <label for="txtZipCode">Zip Code: </label>
        <a href="/insurance"><input type="text" name="txtZipCode" id="txtZipCode"></a>
        <button type="button" class="btn">Find providers</button>
    </div><!--end insurance text div-->
</section>
<div class="banner-container">
    <div class="banner-text">    
        <h2>Check all the right boxes to get the most out of your taxes</h2>
        <button type="button" class="btn-alt">See how we can help</button>
    </div>
    <img src="images/clipboard.jpg" alt="clipboard">
</div>
<section class="offerings">
    <div>    
        <h3>What we offer</h3>
        <p>We offer expert advise with a team of over 30 experts we can help guide on the most complicated situations .
        Try out our helpful tools  such as our comparison tool. smart calculatior and simulators to help you make the best decision.  
        Sign up today and tell us more about your goals and what your goals are and we can help you come
        up with a plan to optimize your wallet and grow your savings. </p>
    
            <div class = "dropdowns">Fast track to financial freedom <i class="material-icons">
                keyboard_arrow_down
            </i></div>
            <div class = "dropdowns">Discover what drives you<i class="material-icons">
                keyboard_arrow_down
            </i></div>
            <div class = "dropdowns">Check out our podcast<i class="material-icons">
                keyboard_arrow_down
            </i></div>
            <button type="button" class="btn">Learn more</button>
        </div>

</section>