<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/layout_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        $(document).ready( function(){
            $('.sub').hide();
        });

        function showOption(){
        let opt = $('.sub')
        
        for(i=0; i<opt.length; i++){
            opt[i].toggle();
        }
        }
    </script>
</head>
<body>
    <header>
        <h1>Billfold</h1>
        <nav class="nav">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/credit">credit cards</a></li>
                <li><a href="/insurance">insurance</a></li>
                <li><a href="/investing">investing</a></li>
                <li><a href="/loans">loans</a></li>
                <li><a href="/mortgages">mortgages</a></li>
                <li><a href="/join">Contact Us</a></li>
            </ul>
        </nav>
        <div>Sign Up</div>
    </header>
    <main>
        <%- body %>
    </main>
   
    <footer>
        <div class="footer-logo">
            <div>Billfold</div>
            <p>lets build with you...</p>
        </div> <!--end footer-logo div-->
        <div class="app-downloads">
            <div class="appstore">
                <div class="apple-logo"></div>
                <p>download at</p>
                <p>App store</p>
            </div><!--end appstore div-->
            <div class="playstore">
                <div class="play-logo"></div><!-- end play-logo div-->
                <p>download at</p>
                <p>Play store</p>
            </div><!--end playsore div-->
        </div><!---end app-downloads div-->
        <div class="footer-links">
            <div class="about">ABOUT</div>
            <div class="help">HELP</div>
            <div class="legal">LEGAL</div>
        </div><!--end footer-links div-->
        <div class="copy">
            <p>&copy; 2013 Billfold</p>
        </div>
        <div class="disclaimer">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Dolorem fuga veritatis provident consequuntur.<br>Facilis adipisci suscipit sint asperiores, 
            ratione at maiores odit! Vero ad vitae enim praesentium dolorum sit ipsam.</div>
            <div class="social-links">
                <div class="facebook social">F</div>
                <div class="twitter social">T</div>
                <div class="instagram social">I</div>
            </div>
    </footer>
</body>
</html>